@model User

<header class="z-[100] h-[--m-top] fixed top-0 left-0 w-full flex items-center bg-white/80 sky-50 backdrop-blur-xl border-b border-slate-200">
    <div class="2xl:w-[--w-side] lg:w-[--w-side-sm]">
        <div class="flex items-center gap-1">
            <button uk-toggle="target: #site__sidebar ; cls :!-translate-x-0" class="flex items-center justify-center w-8 h-8 text-xl rounded-full hover:bg-gray-100 xl:hidden group">
                <ion-icon name="menu-outline" class="text-2xl group-aria-expanded:hidden"></ion-icon>
                <ion-icon name="close-outline" class="hidden text-2xl group-aria-expanded:block"></ion-icon>

            </button>
            <div id="logo" class="flex items-center">
                <a class="flex items-center">
                    <img src="~/images//logo.png" class="w-10 md:block hidden" />
                    <span class="ml-2"> Pimplenet </span>

                </a>
            </div>



        </div>

    </div>
    <div class="flex-1 relative">
        <div class="max-w-[1220px] mx-auto flex items-center">

            <form id="search--box" class="xl:w-[680px] sm:w-96 sm:relative rounded-xl overflow-hidden z-20 bg-secondery max-md:hidden w-screen left-0 max-sm:fixed max-sm:top2">
                <ion-icon name="search" class="absolute left-4 top-1/2 -translate-y-1/2"></ion-icon>
                <input type="text" name="query" placeholder="Search something already, anything your soul wish!" class="w-full !pl-10 !font-normal !bg-transparent h-12 !text-sm" />
            </form>


        </div>

        <div class="max-w-[1220px] mx-auto flex items-center">
            <div class="flex items-center sm:gap-4 gap-2 absolute right-5 top-1/2 -translate-y-1/2 text-black">
                <button type="button" class="p-sm-2 p-1 rounded-full relative sm:bg-secondery">
                    <img src="~/images/noteico.png" class="w-6 h-6 max-sm:hidden" />
                    <div class="absolute top-0 right-0 -m-1 bg-red-600 text-white text-xs px-1 rounded-full" id="notificationsCount">0</div>
                </button>
                <div class="hidden bg-white pr-1.5 rounded-lg drop-shadow-xl md:w-[365px] w-screen border2 " uk-drop="offset:6;pos: bottom-right; mode: click; animate-out:true;">
                    <div class="flex items-center justify-between gap-2 p-4 pb-2">
                        <h3 class="font-bold text-xl text-black">Notifications?</h3>
                    </div>
                    <div class="text-sm h-[400px] w-full overflow-y-auto pr-2">
                        <div class="pl-2 p-1 text-sm text-center font-normal" id="notification-dropdown">
                            Unfortunately there are silence.. :(
                        </div>

                    </div>
                </div>
                <div class="rounded-full relative bg-secondery cursor-pointer shrink-0">
                    <img src="@(Model.profilePicture ?? "~/images/avatar/defavar.png")" class="w-9 h-9 rounded-full" />

                </div>
                <div class="hidden bg-white text-black rounded-lg drop-shadow-xl w-64 border2" uk-drop="offset:6;pos: bottom-right;animate-out: true;">

                    <a>
                        <div class="p-4 py-5 flex items-center gap-4 text-black">
                            <img src="@(Model.profilePicture ?? "~/images/avatar/defavar.png")" class="w-9 h-9 rounded-full" />
                            <div class="flex-1 text-black">
                                <h4 class="text-sm font-medium ">@Model.Fullname</h4>
                                <div class="text-sm mt-1 text-blue-600 font-light/70">testing</div>

                            </div>


                        </div>
                    </a>
                    <hr />
                    <nav>
                        <a>
                            <div class="flex items-center gap-2.5 hover:bg-secondery p-2 px-2.5 rounded-md">
                                <ion-icon name="settings-outline" class="text-lg"></ion-icon>Your account
                            </div>

                        </a>
                        <hr />
                        <form asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="flex-1 items-center gap-2.5 hover:bg-secondery p-2 px-2.5 rounded-md">
                                <ion-icon name="exit-outline" class="text-lg"></ion-icon> Log out
                            </button>

                        </form>
                    </nav>

                </div>
            </div>
        </div>

    </div>
</header>