@model List<Favorite>

<main id="side__main" class="2xl:ml-[--w-side] xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">
    <div class="lg:flex 2xl:gap-16 gap-12 max-w-[1065px] text-black mx-auto" id="js-oversized">
        <div class="max-w-[680px] mx-auto">
            <div class="mb-8">
                <h3 class="font-extrabold text-2xl text-black">Favorites</h3>
            </div>

            @if (Model.Count == 0)
            {
                <div class="bg-white rounded-xl shadow-sm md:p-4 p-2 space-y-4 text-sm text-black font-medium border1" style="width: 580px;">
                    Currently there's no posts to see, be the first one to create!
                </div>
            }
            else
            {
                @foreach (var fav in Model)
                {
                    <div class="post-item transition-opacity duration-500" data-post-id="@fav.Post.Id">
                        <partial name="Home/_PostFav" model="fav" />
                    </div>
                }
            }
        </div>
    </div>
</main>

@section Scripts {
    <script>
        document.querySelectorAll(".fav-form").forEach(form => {
            form.addEventListener("submit", function (e) {
                e.preventDefault();

                const formData = new FormData(this);

                fetch(this.action, {
                    method: "POST",
                    body: formData
                })
                .then(res => res.json())
                .then(data => {
                    const btn = this.querySelector("button ion-icon");
                    const count = this.parentElement.querySelector(".favor-count");

                    btn.setAttribute("name", data.isFavorited ? "bookmark" : "bookmark-outline");


                    if (count) {
                        count.textContent = data.favoritesCount;
                    }

                    
                    if (!data.isFavorited) {
                        const postItem = this.closest(".post-item");
                        if (postItem) {
                            postItem.style.opacity = "0";
                            setTimeout(() => postItem.remove(), 500);
                        }
                    }
                });
            });
        });
    </script>
}
